<div class="row">
  <div class="card col-10 ml-auto mr-auto">
    Koszt treningów umiejętności
    <select [(ngModel)]="selectedSkill">
      <option *ngFor="let s of allSkills" [ngValue]="s" (ngModelChange)="calculateRangeCost()">{{s.name}}</option>
    </select>
    w zakresie od
    <input class="form-control" min="0" max="99" step="1" value="0" type="number" [(ngModel)]="fromLevel"
           (ngModelChange)="calculateRangeCost()"/>
    do
    <input class="form-control" min="1" max="100" step="1" value="0" type="number" [(ngModel)]="toLevel"
           (ngModelChange)="calculateRangeCost()"/>
    wynosi {{rangeCost.toString()}}.
  </div>
  <div class="card col-10 ml-auto mr-auto">
    Za ostatni trening umiejętności
    <select [(ngModel)]="selectedSkill">
      <option *ngFor="let s of allSkills" [ngValue]="s" (ngModelChange)="calculateRangeCost()">{{s.name}}</option>
    </select>
    zapłaciłeś
    <input class="form-control" min="0" max="99" step="1" value="0" type="text" [(ngModel)]="costInput"
           (ngModelChange)="calculateLevel()"/>
    (dokładnie {{costReal.toString()}}),
    więc jej poziom to {{levelReal}}%.
  </div>
</div>
