<div class="my-card">
  <form #editorForm="ngForm">
    <div class="row">
      <div class="col-lg-6">
        <div class="form-group">
          <label for="text-width">Szerokość tekstu</label>
          <input id="text-width" class="form-control" min="2" max="300" type="number" [(ngModel)]="width"
                 (ngModelChange)="processTextInput()" name="text-width"/>
        </div>
        <div class="form-group">
          <label for="selectedFrame">Ramka</label>
          <select class="form-control" [(ngModel)]="selectedFrame" name="selectedFrame" id="selectedFrame"
                  (ngModelChange)="selectFrame();">
            <option *ngFor="let f of frames" [ngValue]="f">{{f}}</option>
          </select>
        </div>
        <div class="form-group" [ngClass]="{'alert-danger': maxWidth>=80}">
          Całkowita szerokość: {{maxWidth}}
        </div>
      </div>
      <div class="col-lg-6">
        <div class="row">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" [(ngModel)]="advancedFrame" name="advancedFrame">
            Własna ramka
          </label>
        </div>
        <div class="row frame-def" *ngIf="advancedFrame">
          <div class="col">
            <label for="topLeft">Lewa góra</label>
            <textarea class="form-control" [(ngModel)]="frame.topLeft" (ngModelChange)="changeFrame()"
                      name="topLeft" id="topLeft"></textarea>
          </div>
          <div class="col">
            <label for="top">Góra</label>
            <textarea class="form-control" [(ngModel)]="frame.top" (ngModelChange)="changeFrame()"
                      name="top" id="top"></textarea>
          </div>
          <div class="col">
            <label for="topRight">Prawa góra</label>
            <textarea class="form-control" [(ngModel)]="frame.topRight" (ngModelChange)="changeFrame()"
                      name="topRight" id="topRight"></textarea>
          </div>
          <div class="w-100"></div>
          <div class="col">
            <label for="left">Lewo</label>
            <textarea class="form-control" [(ngModel)]="frame.left" (ngModelChange)="changeFrame()"
                      name="left" id="left"></textarea>
          </div>
          <div class="col">
          </div>
          <div class="col">
            <label for="right">Prawo</label>
            <textarea class="form-control" [(ngModel)]="frame.right" (ngModelChange)="changeFrame()"
                      name="right" id="right"></textarea>
          </div>
          <div class="w-100"></div>
          <div class="col">
            <label for="bottomLeft">Lewy dół</label>
            <textarea class="form-control" [(ngModel)]="frame.bottomLeft" (ngModelChange)="changeFrame()"
                      name="bottomLeft" id="bottomLeft"></textarea>
          </div>
          <div class="col">
            <label for="bottom">Dół</label>
            <textarea class="form-control" [(ngModel)]="frame.bottom" (ngModelChange)="changeFrame()"
                      name="bottom" id="bottom"></textarea>
          </div>
          <div class="col">
            <label for="bottomRight">Prawy dół</label>
            <textarea class="form-control" [(ngModel)]="frame.bottomRight" (ngModelChange)="changeFrame()"
                      name="bottomRight" id="bottomRight"></textarea>
          </div>
        </div>
        <div class="row" *ngIf="advancedFrame">
          <div class="col">
            <div class="form-inline mt-1">
              <label>Kod:</label>
              <input class="form-control ml-1 mr-1" style="font-family: monospace" type="text" [value]="getFrameAsJson()"
                     #frameAsJson/>
              <button class="btn" [ngxClipboard]="frameAsJson">Kopiuj</button>
              <button class="btn" (click)="setFrameFromJson(frameAsJson.value)">Wczytaj</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <textarea class="editor" [(ngModel)]="textInput" (ngModelChange)="processTextInput()" name="text-input"></textarea>
      </div>
    </div>
  </form>
</div>
<div class="my-card">
  <pre>{{textOutput}}</pre>
</div>
