@import "~bootstrap/dist/css/bootstrap.min.css";

html {
  height: 100%;
}
body {
  height: 100%;
  background: url("assets/waterfalls.jpg") no-repeat center;
  background-size: cover;
}

.container {
  background-color: rgba(245, 245, 245, 0.4);
  height: 100%;
}
