@import "~bootstrap-material-design/dist/css/bootstrap-material-design.min.css";
@import "~nouislider/distribute/nouislider.min.css";

html {
  height: 100%;
}
body {
  height: 100%;
  background: url("assets/sky3.jpg") no-repeat center fixed;
  background-size: cover;
}

.main-container {
  background-color: rgba(245, 245, 245, 0.8);
  min-height: 100%;
}

.my-card {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.12);
  border-radius: .125rem;
  padding: 0.3rem;
  margin-bottom: 0.5rem;
}
